.form{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
        color:#7209b7;
    }

    .buttonSubmit{
        background-color:#7209b7;
    }
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #7209b7 !important;
}

.Mui-focused{
    color:#7209b7;
}

.BoxLogo{
    width: 100vw;
    height: 100vh;
    background-color:#F2F2F2;
    margin:0;
}

.dieta{
    padding: 20px;
    overflow: scroll;
}

.css-5mr8c8-MuiButtonBase-root-MuiButton-root{
    background-color: #7209b7 !important;
}